<app-side-nav></app-side-nav>

<app-nav></app-nav>

  





<br><br>


<div class="card">
  <div class = "complain">
    <div>
        <H1 style="text-align: center; color: aqua; background-color: black;">FEEDBACK/COMPLAIN</H1>
    </div>
    
    <div>
    
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" placeholder="name">
        <label for="floatingPassword">Name</label>
      </div>
    
      <div class="form-floating">
        <select name="cars" id="cars" form="carform" class="form-control">
          <option value="volvo">SELECT</option>
          <option value="saab">FEEDBACK</option>
          <option value="saab">COMPLAIN</option>
          
        </select>
      </div>
    
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Write here</label>
      </div>
      <div>
        <br><br><button style="text-align: center;"class="btn btn-primary
        ">Submit</button>
      </div>
    </div>
    </div>
</div>




<br><br>
<app-footer></app-footer>
