
<app-side-nav></app-side-nav>

<app-nav>
  
</app-nav>





<section>
  <div class="container services">
    <div class="section-title short-title py-5" data-aos="fade-up">
      <h2 style="color: #ee4466 ;">Programming Language</h2>
       <p style="font-size:1px;" class="text-center">
     <a style=" color: #fff;" href="computercourse.html">best software company in baripada</a>
     <a style=" color: #fff;" href="computercourse.html">best Computer course in baripada</a>
     <a style=" color: #fff;" href="computercourse.html">best pgdca course in baripada</a>
     <a style=" color: #fff;" href="computercourse.html">best website design in baripada</a>
     </p>
    </div>
    
     <div class="row">
        <div class="col-md-3 text-center row1">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/jv.png"></h1>
             <h4 class="title "><a href="">Java</a></h4>
           </div>	<br/>
        </div>




        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/jq.png"></h1>
             <h4 class="title "><a href="">JQuery</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/jav.png"></h1>
             <h4 class="title "><a href="" >JavaScript</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/rjs.png"></h1>
             <h4 class="title "><a href="" >React JS</a></h4>
           </div>	<br/>
        </div>
        
        
        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/njs.png"></h1>
             <h4 class="title "><a href="" >NODE JS</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/ajs.png"></h1>
             <h4 class="title "><a href="">Angular JS</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/php.png"></h1>
             <h4 class="title "><a href="">PHP</a></h4>
           </div>	<br/>
        </div>


        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/lv.png"></h1>
             <h4 class="title "><a href="" >LARAVEL</a></h4>
           </div>	<br/>
        </div>
        
        
        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/ci.png"></h1>
             <h4 class="title "><a href="" >CODEIGNITER</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/vb.png"></h1>
             <h4 class="title "><a href="" >VB.NET</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/asp.png"></h1>
             <h4 class="title "><a href="">ASP.NET</a></h4>
           </div>	<br/>
        </div>


        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/cs.png"></h1>
             <h4 class="title "><a href="" >C SHARP</a></h4>
           </div>	<br/>
        </div>
        
        
        
        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/msql.png"></h1>
             <h4 class="title "><a href="">MYSQL</a></h4>
           </div>	<br/>
        </div>




        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/ss.png"></h1>
             <h4 class="title "><a href="">SQL SERVER</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/ns.png"></h1>
             <h4 class="title "><a href="">NOSQL</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/or.png"></h1>
             <h4 class="title "><a href="">ORACLE</a></h4>
           </div>	<br/>
        </div>
        
        
        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/sl.png"></h1>
             <h4 class="title "><a href="">SQLITE</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/rd.png"></h1>
             <h4 class="title "><a href="">REDIS</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/mg.png"></h1>
             <h4 class="title "><a href="">MONGO DB</a></h4>
           </div>	<br/>
        </div>



        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/cphp.png"></h1>
             <h4 class="title "><a href="">CAKE PHP</a></h4>
           </div>	<br/>
        </div>
        
        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/zf.png"></h1>
             <h4 class="title "><a href="">ZEND FRAMEWORK</a></h4>
           </div>	<br/>
        </div>




        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/py.png"></h1>
             <h4 class="title "><a href="">PYTHON</a></h4>
           </div>	<br/>
        </div>




        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/rail.png"></h1>
             <h4 class="title "><a href="">RUBY ON RAILS</a></h4>
           </div>	<br/>
        </div>


        <div class="col-md-3 text-center">
           <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <h1 class="card-title py-3"><img src="/assets/prog-img/cf.png"></h1>
             <h4 class="title "><a href="">CLOUDFLARE</a></h4>
           </div>	<br/>
        </div>
        
        
     </div>
  
  </div>
</section>

<app-footer></app-footer>