



<!-- <a routerLink='user'>user</a>

<br><br>

<a routerLink='login'>login</a> -->
        <router-outlet></router-outlet>         
<!-- <app-login></app-login> -->
 <!-- <app-courses></app-courses> -->
<!-- <app-test></app-test>  -->
<!-- <app-side-nav></app-side-nav> -->
<!-- <app-comp></app-comp> -->
 <!-- <app-side-nav></app-side-nav>  -->
  <!-- <app-user></app-user>  -->
 <!-- <app-footer></app-footer>

  -->

  <!-- <app-feedback></app-feedback> -->

  <!-- <app-assignment></app-assignment> -->


