<app-side-nav></app-side-nav>
<app-nav></app-nav>
<section>
    <div class="container services">
      <div class="section-title short-title py-5" data-aos="fade-up">
        <h2 style="color: #ee4466 ;">DCA/PGDCA/Adv.PGDCA</h2>
      </div>
    </div>
</section>



<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <h1 class="card-title py-3"><img src=""></h1>
          <p class="card-text">DCA</p>
          <a href="#" class="btn btn-primary">Enroll</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <h1 class="card-title py-3"><img src=""></h1>
          <p class="card-text">PGDCA</p>
          <a href="#" class="btn btn-primary">Enroll</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title py-3"><img src=""></h1>
            <p class="card-text">Adv.PGDCA</p>
            <a href="#" class="btn btn-primary">Enroll</a>
          </div>
        </div>
      </div>
  </div>
  <app-footer></app-footer>