<app-side-nav></app-side-nav>
<app-nav></app-nav>



<div class="card-div">



  <div class="card1">
    
    <div class="card" title="Notice">
      <h5 class="title">Pending Assignment</h5>
    </div>
  </div>





<div class='card2'>
    <div class="card">
        <h5 class="title">Download Assignment</h5>

        <div class="card">
            <div class="complain">


                <div>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPassword" placeholder="name">
                        <label for="floatingPassword">Name</label>
                    </div>

                    <div class="form-floating">
                        <select name="cars" id="cars" form="carform" class="form-control">
                            <option value="volvo">SELECT</option>
                            <option value="saab">Download</option>
                            <option value="saab">Upload</option>
                        </select>
                    </div>

                </div>
                <br>
                <p>Upload Assignment File</p>
                <button class="btn btn-primary">Download</button>
            </div>


        </div>

    </div>
</div>









  <div class='card3'>
    <div class="card">
      <h5 class="title">Upload Assignment </h5>
      <div class="complain">


        <div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" placeholder="name">
                <label for="floatingPassword">Name</label>
            </div>

            <div class="form-floating">
                <select name="cars" id="cars" form="carform" class="form-control">
                    <option value="volvo">SELECT</option>
                    <option value="saab">Download</option>
                    <option value="saab">Upload</option>
                </select>
            </div>

        </div>
        <br>
        <p>Upload Assignment File: <input type="file"></p>
        <button class="btn btn-primary">submit</button>
    </div>
    </div>
  </div>
  <app-footer></app-footer>














  
  
